@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Rubik';
  src: url(./assets/fonts/Rubik.ttf);
}

@font-face {
  font-family: 'Truet';
  src: url(./assets/fonts/Truet.ttf);
}
